### 1.  What is the data type of print(type(10))
* float
* integer
* int

int

### 2. What is the result of print(type([]) is list)
* False
* True

True

### 3. str1 = "PYTHON150"
print(str1[1:4], str1[:5])
* PYTH,  PYTHON
* PYTH, PYTHO
* YTH, PYTHO
* Note: Commas only used for display

In [4]:
YTH, PYTHO

YTH PYTHO

### 4. str1 = "PYTHON150"
print(str1[4:], str1[0:-1])
* N150, PYTHON150
* ON150, PYTHON15
* ON150, PYTHON150
* Note: Commas only used for display

ON150 PYTHON15

### 5. str1 = "PYTHON150"
print(str1[:-1])
* PYTHON150
* PYTHON15
* PYTHON1
* Note: Commas only used for display

PYTHON15

### 6.  print("John" > "Jhon")
### print("Emma" < "Emm")
* True True
* True False
* False TRue
* False False

True False

### 7. Strings are immutable in Python, which means a string cannot be modified.
* True
* False

True

### 8. str1 = 'Welcome'
print (str1[:6] + 'Class')
* WelcomClass
* WelcomeClass
* Welcom Class
* Welcome Class

WelcomClass

### 9. str = "how are you all doing"
print (str.capitalize())
* How are you all doing
* How Are You All Doing

How are you all doing

### 10. str = "how are you all doing"
print (str.title())
* How are you all doing
* How Are You All Doing

How Are You All Doing

### 11. str1 = 'Welcome'
print(str1*2)
* Welcome Welcome
* WelcomeWelcome
* TypeError unsupported operand type(s)

WelcomeWelcome

### 12. Random integer between 99 to 200, which is divisible by 3, print the value of a,b,c
* random.randrange(a, b, c)

In [19]:
import random 
random.randrange(99,200,3)

126

### 13. What is the output of print(2 ** 3 ** 2)
* 64
* 512

512

### 14. print(2%6)
* ValueError
* 0.33
* 2

2

### 15. What is the output of print(10 - 4 * 2)
* 2
* 12

2

### 16. for i in "STR":
     print(i)
* STR
* S
- T
- R

S
T
R

### 17. a="Learn"
### while(a):
    print(a)
* Infinite Loop
* L
* e
* a
* r
* n

Infinite Loop